<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Sistema de Gerenciamento de Expedição Espacial</title>
</head>
<body>
    <header>
        <h1>Sistema de Gerenciamento de Expedição Espacial</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/create">Criar Missão</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Sistema de Expedições Espaciais</p>
    </footer>
</body>
</html>
