<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Editar Missão</title>
</head>
<body>
    <h2>Editar Missão</h2>
    <form action="/edit/{{ missao.id }}" method="POST">
        <label for="nome">Nome da Missão:</label>
        <input type="text" id="nome" name="nome" value="{{ missao.nome }}" required>

        <label for="data_lancamento">Data de Lançamento:</label>
        <input type="date" id="data_l
