<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>Lista de Missões</title>
</head>
<body>
    <header>
        <h1 class="subtitle">Missões Espaciais</h1>
        <a href="{{ url_for('create') }}" class="btn-criar">Criar Nova Missão</a>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data de Lançamento</th>
                    <th>Destino</th>
                    <th>Estado</th>
                    <th>Tripulação</th>
                    <th>Carga Útil</th>
                    <th>Duração</th>
                    <th>Custo</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for missao in missoes %}
                <tr>
                    <td>{{ missao.id }}</td>
                    <td>{{ missao.nome }}</td>
                    <td>{{ missao.data_lancamento }}</td>
                    <td>{{ missao.destino }}</td>
                    <td>{{ missao.estado }}</td>
                    <td>{{ missao.tripulacao }}</td>
                    <td>{{ missao.carga_util }}</td>
                    <td>{{ missao.duracao }}</td>
                    <td>{{ missao.custo }}</td>
                    <td>{{ missao.status }}</td>
                    <td>
                        <form action="{{ url_for('edit', id=missao.id) }}" method="get" style="display:inline;">
                            <button type="submit" class="btn-editar">Editar</button>
                        </form>
                        <form action="{{ url_for('delete', id=missao.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn-deletar">Deletar</button>
                        </form>
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="{{ url_for('search') }}" method="POST" class="search-form" style="margin-top: 20px;">
            <label for="data_inicio">Data de Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" required>
        
            <label for="data_fim">Data de Fim:</label>
            <input type="date" id="data_fim" name="data_fim" required>
        
            <button type="submit" class="btn-search">Buscar</button>
        </form>
    </main>
</body>
</html>
