<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.
    css') }}">
    <link rel="stylesheet" href="/templates/styles/index.css">
    <title>Sistema de Gerenciamento de Expedição Espacial</title>
</head>
<h2>Missões Registradas</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Lançamento</th>
            <th>Destino</th>
            <th>Estado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ missao.id }}</td>
            <td>{{ missao.nome }}</td>
            <td>{{ missao.data_lancamento }}</td>
            <td>{{ missao.destino }}</td>
            <td>{{ missao.estado }}</td>
            <td>
                <a href="edit.html">Editar</a>
                <form action="{{ url_for('delete', id=missao.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Deletar</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>