body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://media.giphy.com/media/9tx0gy37p7oXu/giphy.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF; 
}


/* Estilo do Cabeçalho */
header {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo escuro e semi-transparente para o cabeçalho */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #00BFFF; /* Azul claro para destacar o título */
}

.btn-criar {
    background-color: #00BFFF; /* Cor do botão */
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s; /* Transição suave para a cor do fundo */
}

.btn-criar:hover {
    background-color: #008CBA; /* Tom mais escuro ao passar o mouse */
}

/* Estilo da Tabela */
table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: rgba(31, 31, 31, 0.8); /* Fundo escuro e semi-transparente para a tabela */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar a tabela */
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #2C2C2C; /* Borda sutil para células da tabela */
}

th {
    background-color: #00BFFF; /* Cor de fundo azul claro para o cabeçalho */
    color: #121212; /* Texto escuro para contraste */
    font-size: 1.1rem;
}

tbody tr:nth-child(even) {
    background-color: rgba(44, 44, 44, 0.9); /* Cor de fundo alternada para as linhas */
}

tbody tr:hover {
    background-color: #008CBA; /* Cor azul ao passar o mouse sobre uma linha */
}

/* Estilo dos Links e Botões de Ação */
td a {
    color: #00BFFF;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s; /* Transição suave para a cor do link */
}

td a:hover {
    text-decoration: underline;
    color: #008CBA; /* Cor ao passar o mouse */
}

td form button {
    background-color: #FF6347; /* Cor vermelha para o botão de deletar */
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para a cor do botão */
}

td form button:hover {
    background-color: #FF4500; /* Tom mais escuro de vermelho ao passar o mouse */
}

/* Estilo do Rodapé (caso tenha um) */
footer {
    background-color: rgba(31, 31, 31, 0.9); /* Tom escuro e semi-transparente para o rodapé */
    padding: 10px;
    text-align: center;
    position: relative; /* Ajuste conforme necessário */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #888888; /* Cor de texto mais clara para o rodapé */
    font-size: 0.9rem;
}
